.DS_Store
*.xmp
node_modules/
node_cache/
.netlify/
img/dm_case/*.psd
img/dm_case/Frokost*tagterassen.mp4
img/dm_case/DanishMinies17032026185087.jpg
img/dm_case/DanishMinies17032026185131.jpg
img/dm_case/PERFERCT PAIRING.mp4
img/Comp 1 - slowed_1.webm
